

    HTML CSS Babel 

    Result
    Skip Results Iframe

body {
  background-color: rgb(36, 36, 228);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  
}
.connect4{
  border: 5px solid blue;
  border-radius: 50%;
}
.colourR{
  color: red;
  text-shadow: 5px 2px 4px #000
}
.colourB{
  color: blue;
  text-shadow: 5px 5px 4px #000
}

@keyframes spin { 
  from { 
      transform: rotateY(0deg); 
  } to { 
      transform: rotateY(360deg); 
  }
}

.colourRWin {
  color: red;
  text-shadow: 5px 2px 4px #000;
  animation: spin 3s 3;
  font-size: 50px;
}

.colourBWin {
  color: blue;
  text-shadow: 5px 5px 4px #000;
  animation: spin 3s 3;
  font-size: 50px;
}
.status {
  margin-bottom: 10px;
}
.container {
  position: relative;
  left: 25vw;
}
.c4container {
  position: relative;
  background-color: rgb(10, 10, 102);
  height:100%;
  width:100%;
  border:3px solid black;
}
.board-row {
  display: flex;
}
.square {
  background: #aaa;
  border: 2px solid #222;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  width:100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.circle {
  background: rgb(248, 245, 245);
  border: 2px solid #222;
  border-radius: 100%;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  width:100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.Rcircle {
  background: red;
  border-radius:100%;
  width:100px;
  height:100px;
}
.Ycircle {
  background-color: sandybrown;
  border-radius: 100%;
  width:100px;
  height:100px;
}

.square:focus {
  outline: bold;
}



.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

